<div id="container">
  <div id="input">
    <p>Pick a div</p>
    <select (change)="selectDiv(divSelect.selectedIndex)" #divSelect>
      <option *ngFor="let shadow of shadows; let shadowIndex = index" [value]="shadowIndex">
        div {{shadowIndex + 1}}</option>
    </select>

    <p>color</p>
    <input type="text" [value]="shadows[index].color" disabled/>
    <input
      [style.background]="shadows[index].color"
      [(colorPicker)]="shadows[index].color"
      (colorPickerChange)="changeStyle()"
      [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
      style="width: 15px; height: 15px; border: none; cursor: pointer;"
    />

    <p>angle panel</p>
    <div class="circle">
      <div class="dot" [style.transform]="transformString"></div>
    </div>

    <p>params</p>
    <div id="params">
      <label>angle:</label>
      <input [(ngModel)]="angle" (ngModelChange)="calculateAndChangeStyle()" min="0" max="360" placeholder="angle" type="number"/>

      <label>distance:</label>
      <input [(ngModel)]="distance" (ngModelChange)="calculateAndChangeStyle()" min="0" max="100" placeholder="distance"
             type="number"/>

      <label>spread:</label>
      <input [(ngModel)]="shadows[index].spread" (ngModelChange)="changeStyle()" placeholder="spread" type="number"/>

      <label>blur:</label>
      <input [(ngModel)]="shadows[index].blur" (ngModelChange)="changeStyle()" placeholder="blur" type="number"/>
    </div>
  </div>

  <div id="shadows">
    <div [style.box-shadow]="shadowStyles[0]" class="box1"></div>
    <div [style.box-shadow]="shadowStyles[1]" class="box2"></div>
  </div>
</div>
